*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 22px;
}


.content__accent {
  color: #545050;
}


.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /*gap: 30px;*/
  padding: 133px 30px;
}
.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*gap: 16px;*/
}

.result__video-container {
  padding-top: 5px;
  width: 711px;
  
  margin-right: 30px;
  margin-bottom: 30px;
}

.result__video {
  width: inherit;
  
}

.search-form {
  width: 711px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  
  /*gap: 26px;*/
  position: static;
  width: 399px;
  height: 534px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.content__list {
  position: static;
  /*width: 400px;*/
  max-height: 298px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  gap: 30px;

  margin-left: -2px;
  
  overflow-y: scroll;
  overflow-x: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__list-item {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /*padding-top: 2px;*/
  margin: 3px; 
  padding: 2px 
  
}

.content__card-link {
  text-decoration: none;
}

.content__video-card-description-container {
  margin: 0;
  /*padding-top: 3px;*/
  
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;

  position: static;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: self-start;
  /*margin-top: -10px;*/
  margin-bottom: 6px;
  padding-top: 1px;
  /*margin-left: 2px;*/
  padding-left: 0;

}

.content__video-card-description {
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: 0%;
  text-align: left;
}

.content__video-card {
  position: static;
  width: 393px;
  /*height: 107px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /*padding: 2px;*/
  flex: none;
  order: 0;
  flex-grow: 0;
  overflow: hidden;
  
  /*margin-right: 5px;*/

  
}


.content__video-card:active {
  background-color: #545050;
}

.content__video-card:hover {
  
}

.content__video-card:focus {
  border: 1px solid #fff;
}

/*
.content__list-item:active {
  background-color: #545050;
}

.content__list-item:hover {
  
}

.content__list-item:focus {
  border: 1px solid #fff;
}
*/

.content__video-card-thumbnail {
  position: static;
  width: 194px;
  height: 103px;
  flex: none;
  order: 1;
  flex-grow: 0;
  /*margin-top: -2px;*/
  
  /*border: 0.1px dashed #fff;*/
}

.content__video-card-description-container {
  color: #fff;
}



.preloader-template {
  position: static;
  width: 194px;
  height: 103px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}
